<footer id="footer">
    <div class="footer_top">
      <div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
			  <div class="footer_widget wow fadeInLeftBig">
				<h2>Liên hệ</h2>
				<p>Nhóm 1</p>
				<p>59PM2</p>
				<address>
				Trường Đại học Xây dựng
				</address>
			  </div>
			</div>
      </div>
    </div>
    <div class="footer_bottom">
      <p class="copyright">Copyright &copy; 2017 <a href="/">NewsFeed</a></p>
      <p class="developer">Developed By Wpfreeware</p>
    </div>
  </footer>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/jquery.li-scroller.1.0.js"></script>
<script src="assets/js/jquery.newsTicker.min.js"></script>
<script src="assets/js/jquery.fancybox.pack.js"></script>
<script src="assets/js/custom.js"></script>
<script>
  $(document).ready(function(){
    var clocker = setInterval(function(){
      var d = new Date();
      var datetime = addZero(d.getDate()) + '/' + addZero(d.getMonth()+1) + '/' + d.getFullYear() + ' ' + addZero(d.getHours()) + ':' + addZero(d.getMinutes()) + ':' + addZero(d.getSeconds());
      $('#clocker').html(datetime);
    },1000);
  });
  function addZero(number) {
    var temp;
    if (number < 10) {
      temp = '0'+number;
    }
    else temp = number;
    return temp;
  }
</script>
</body>
</html>
