<div class="row">
  <div class="col-sm-12">
    <div class="box box-primary box-solid">
      <form action="" method="post" role="form">
        <div class="box-body">
          <div class="form-group">
            <label for="">Danh mục</label>
            <input type="type" class="form-control" placeholder="Nhập danh mục" name="title">
          </div>
          <div class="form-group">
            <label for="">Thứ tự</label>
            <input type="type" class="form-control" placeholder="Nhập thứ tự" name="order_sort">
          </div>
          <div class="form-group">
            <label for="">Mô tả</label>
            <textarea name="description" class="form-control" placeholder="Nhập mô tả" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="">Hiện/ẩn</label>
            <select name="show">
              <option value="1">Hiện</option>
              <option value="0">Ẩn</option>
            </select>
          </div>
        </div>
        <div class="box-footer text-center">
          <button type="submit" class="btn btn-primary" name="submit" value="submit">Xác nhận</button>
        </div>
      </form>
    </div>
  </div>
</div> <!-- ./row -->