<div class="row">
	<div class="box box-primary">
		<div class="box-body no-padding">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th><button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button></th>
	                    <th>Tiêu đề</th>
	                    <th>Mô tả</th>
	                    <th>Thao tác</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
<!-- ./row -->