<div class="row">
  <div class="col-sm-12">
    <div class="box box-primary box-solid">
      <form action="" method="post" role="form">
        <div class="box-body">
          <div class="form-group">
            <label for="">Tiêu đề</label>
            <input type="type" class="form-control" placeholder="Nhập tiêu đề" name="title">
          </div>
          <div class="form-group">
            <label for="">Mô tả</label>
            <textarea name="description" class="form-control" placeholder="Nhập mô tả" rows="3"></textarea>
          </div>
        </div>
        <div class="box-footer text-center">
          <button type="submit" class="btn btn-primary" name="submit">Xác nhận</button>
        </div>
      </form>
    </div>
  </div>
</div> <!-- ./row -->