<div class="row">
  <div class="col-sm-12">
    <div class="box box-primary box-solid">
      <form action="" method="post" role="form">
        <div class="box-body">
          <div class="form-group">
            <label for="">Vai trò</label>
            <input type="type" class="form-control" placeholder="Nhập vai trò" name="title">
          </div>
          <div class="form-group">
            <label for="">Mô tả</label>
            <textarea name="description" class="form-control" placeholder="Nhập mô tả" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label>Quyền</label>
            <hr>
            <label>Vai trò</label>
            <br>
            <label>
              <input type="checkbox" name="permission[]" value="/admin/role/list">
              Xem
            </label>
            <label>
              <input type="checkbox" name="permission[]" value="/admin/role/add">
              Thêm
            </label>
            <label>
              <input type="checkbox" name="permission[]" value="/admin/role/edit">
              Sửa
            </label>
            <label>
              <input type="checkbox" name="permission[]" value="/admin/role/del">
              Xóa
            </label>
            <hr>
            <label>Danh mục</label>
            <br>
            <label>
              <input type="checkbox" name="permission[]" value="/admin/category/list">
              Xem
            </label>
            <label>
              <input type="checkbox" name="permission[]" value="/admin/category/add">
              Thêm
            </label>
            <label>
              <input type="checkbox" name="permission[]" value="/admin/category/edit">
              Sửa
            </label>
            <label>
              <input type="checkbox" name="permission[]" value="/admin/category/del">
              Xóa
            </label>
            <hr>
            <label>Bài viết</label>
            <br>
            <label>
              <input type="checkbox" name="permission[]" value="/admin/article/list">
              Xem
            </label>
            <label>
              <input type="checkbox" name="permission[]" value="/admin/article/add">
              Thêm
            </label>
            <label>
              <input type="checkbox" name="permission[]" value="/admin/article/edit">
              Sửa
            </label>
            <label>
              <input type="checkbox" name="permission[]" value="/admin/article/del">
              Xóa
            </label>
            <hr>
            <label>Tài khoản</label>
            <br>
            <label>
              <input type="checkbox" name="permission[]" value="/admin/user/list">
              Xem
            </label>
            <label>
              <input type="checkbox" name="permission[]" value="/admin/user/add">
              Thêm
            </label>
            <label>
              <input type="checkbox" name="permission[]" value="/admin/user/edit">
              Sửa
            </label>
            <label>
              <input type="checkbox" name="permission[]" value="/admin/user/del">
              Xóa
            </label>
          </div>
        </div>
        <div class="box-footer text-center">
          <button type="submit" class="btn btn-primary" name="submit" value="submit">Xác nhận</button>
        </div>
      </form>
    </div>
  </div>
</div> <!-- ./row -->
