<div class="row">
  <div class="col-sm-12">
    <div class="box box-primary box-solid">
      <form action="" method="post" role="form" enctype="multipart/form-data">
        <div class="box-body">
          <div class="form-group">
            <label for="">Email</label>
            <input type="type" class="form-control" placeholder="Nhập email" name="email">
          </div>
          <div class="form-group">
            <label for="">Mật khẩu</label>
            <input type="type" class="form-control" placeholder="Nhập mật khẩu" name="password">
          </div>
          <div class="form-group">
            <label for="">Họ tên</label>
            <input type="type" class="form-control" placeholder="Nhập họ tên" name="name">
          </div>
          <div class="form-group">
            <label for="">Ảnh đại diện</label>
            <input type="file" name="avatar" />
          </div>
          <div class="form-group">
            <label for="">Vai trò</label>
            <br>
            <select name="role_id">
              <% if(roles.length>0){
                roles.forEach(function(role){ %>
                  <option value="<%=role.id%>"><%=role.title%></option>
              <% });} %>
            </select>
          </div>
        </div>
        <div class="box-footer text-center">
          <button type="submit" class="btn btn-primary" name="submit" value="submit">Xác nhận</button>
        </div>
      </form>
    </div>
  </div>
</div> <!-- ./row -->
