<section id="sliderSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="slick_slider">
        <div class="single_iteam"> <a href="pages/single_page.html"> <img src="images/slider_img4.jpg" alt=""></a>
          <div class="slider_article">
            <h2><a class="slider_tittle" href="pages/single_page.html">Những smartphone chụp ảnh tốt nhất hiện nay</a></h2>
            <p>Thứ tự trong bảng xếp hạng những camera phone tốt nhất thế giới vừa có một số thay đổi. iPhone không còn nằm trong top 5 smartphone chụp ảnh tốt nhất nửa đầu 2017.</p>
          </div>
        </div>
        <div class="single_iteam"> <a href="pages/single_page.html"> <img src="images/slider_img2.jpg" alt=""></a>
          <div class="slider_article">
            <h2><a class="slider_tittle" href="pages/single_page.html">5 tượng đài công nghệ bị khai tử vì quyết sách sai lầm</a></h2>
            <p>Sau hơn 2 thập kỉ góp mặt trên thị trường công nghệ, Yahoo đã chính thức bị khai tử sau nhiều quyết sách sai lầm. Trước đó, Kodak, Motorola, Blockbuster, Nokia cùng mắc phải sai lầ</p>
          </div>
        </div>
        <div class="single_iteam"> <a href="pages/single_page.html"> <img src="images/slider_img3.jpg" alt=""></a>
          <div class="slider_article">
            <h2><a class="slider_tittle" href="pages/single_page.html">MobiFone đã đăng kí với Bộ TTTT để đo kiểm chất lượng dịch vụ 4G</a></h2>
            <p>MobiFone cho biết đã nộp đăng kí và sẵn sàng phối hợp với Cục Viễn thông để đo kiểm chất lượng dịch vụ 4G đúng như cam kết trong giấy phép.</p>
          </div>
        </div>
        <div class="single_iteam"> <a href="pages/single_page.html"> <img src="images/slider_img1.jpg" alt=""></a>
          <div class="slider_article">
            <h2><a class="slider_tittle" href="pages/single_page.html">Hướng dẫn chuyển bookmark Safari trên iPhone sang máy tính</a></h2>
            <p>Dữ liệu đánh dấu (bookmark) lại các trang sách, trang web khi dùng iPhone khá quan trọng đối với nhiều người, vậy liệu chúng ta có thể dùng dữ liệu bookmark này trên máy tính Windows?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="latest_post">
        <h2><span>Bài viết mới nhất</span></h2>
        <div class="latest_post_container">
          <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
          <ul class="latest_postnav">
            <% newsestNews.forEach(function(news){ %>
              <li>
                <div class="media"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/slider_img1.jpg"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> <%= news.title %></a> </div>
                </div>
              </li>
            <% }) %>
          </ul>
          <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contentSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="left_content">
        <div class="single_post_content">
          <h2><span>Sản phẩm mới</span></h2>
          <div class="single_post_content_left">
            <ul class="business_catgnav  wow fadeInDown">
              <li>
                <figure class="bsbig_fig"> <a href="pages/single_page.html" class="featured_img"> <img alt="" src="images/featured_img1.jpg"> <span class="overlay"></span> </a>
                  <figcaption> <a href="pages/single_page.html">Microsoft Lumia 950</a> </figcaption>
                </figure>
              </li>
            </ul>
          </div>
          <div class="single_post_content_right">
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title">Asus Zenfone 2 Laser</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Razer Blade 2015</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img3.jpg"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Microsoft Surface Hub</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img4.jpg"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title">Microsoft HoloLens</a> </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="fashion_technology_area">
          <div class="fashion">
            <div class="single_post_content">
              <h2><span>Thiết bị số</span></h2>
              <ul class="business_catgnav wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="pages/single_page.html" class="featured_img"> <img alt="" src="images/featured_img2.jpg"> <span class="overlay"></span> </a>
                    <figcaption> <a href="pages/single_page.html">Chrome 50 ra mắt: chính thức ngừng hỗ trợ Windows XP, Vista</a> </figcaption>
                    <p>Google vừa chính thức ra mắt phiên bản Chrome 50 với tính năng thông báo được thay đổi mạnh mẽ hơn và đáng chú ý là phiên bản này sẽ ngưng hỗ trợ cho các phiên bản Windows cũ như XP hay Vista.</p>
                  </figure>
                </li>
              </ul>
              <ul class="spost_nav">
                <li>
                  <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post1_img1.jpg"> </a>
                    <div class="media-body"> <a href="pages/single_page.html" class="catg_title">Thay đổi tính năng chụp ảnh trên điện thoại</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post1_img2.jpg"> </a>
                    <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Ra HTC 10, HTC tự chứng minh mình đuối sức</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post1_img3.jpg"> </a>
                    <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Vẫn còn 181 triệu máy tính dùng Windows XP</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post1_img4.jpg"> </a>
                    <div class="media-body"> <a href="pages/single_page.html" class="catg_title">Cảnh báo iPhone có thể tự động đổi về năm 1970 và biến thành cục gạch mà bạn không hề hay biết</a> </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="technology">
            <div class="single_post_content">
              <h2><span>Khoa học</span></h2>
              <ul class="business_catgnav">
                <li>
                  <figure class="bsbig_fig wow fadeInDown"> <a href="pages/single_page.html" class="featured_img"> <img alt="" src="images/featured_img3.jpg"> <span class="overlay"></span> </a>
                    <figcaption> <a href="pages/single_page.html">5 công nghệ làm thay đổi ngành y trong tương lai</a> </figcaption>
                    <p>Công nghệ trong y học đang thay đổi tvà có thể tác động sâu rộng đến việc chẩn đoán, điều trị và cung cấp các dịch vụ chăm sóc trong tương lai.</p>
                  </figure>
                </li>
              </ul>
              <ul class="spost_nav">
                <li>
                  <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post2_img1.jpg"> </a>
                    <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Cả nhân loại đang sống trong vũ trụ mô phỏng không có thật?</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post2_img2.jpg"> </a>
                    <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Biti’s Hunter – cuộc lên ngôi ngoạn mục của giày thể thao Việt</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post2_img3.jpg"> </a>
                    <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Ra mắt phiên bản web của Alezaa</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post2_img4.jpg"> </a>
                    <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Tìm hiểu Khoa học cùng Sony: Khoa học cho trẻ em thực tiễn và thú vị</a> </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="single_post_content">
          <h2><span>Hỏi đáp</span></h2>
          <div class="single_post_content_left">
            <ul class="business_catgnav">
              <li>
                <figure class="bsbig_fig  wow fadeInDown"> <a class="featured_img" href="pages/single_page.html"> <img src="images/featured_img1.jpg" alt=""> <span class="overlay"></span> </a>
                  <figcaption> <a href="pages/single_page.html">Nhờ tư vấn cấu hình chơi The Witcher 3</a> </figcaption>
                  <p>Tình hình là em đã dành dụm 1 thời gian chắc cũng đủ lúa để build con PC mới chiến game rồi, 25 triệu. Các bác tư vấn cho em cấu hình ổn ổn chiến...</p>
                </figure>
              </li>
            </ul>
          </div>
          <div class="single_post_content_right">
            <ul class="spost_nav">
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Thị phần thuê bao truyền hình của các nhà cung cấp</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Help...Không cài được VNTools cho Excel 2010</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img1.jpg"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Phần mềm chống keylog hiệu quả?</a> </div>
                </div>
              </li>
              <li>
                <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post_img2.jpg"> </a>
                  <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Phần mềm nào gửi Email hàng loạt tốt nhất</a> </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <aside class="right_content">
        <div class="single_sidebar">
          <h2><span>Bài viết nổi bật</span></h2>
          <ul class="spost_nav">
            <li>
              <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post3_img1.jpg"> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Galaxy Note 8 Hàn Quốc rẻ hơn máy chính hãng 6 triệu</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post3_img2.jpg"> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> iPhone 8 và 8 Plus chính hãng giảm giá sau một tuần bán ra</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post3_img3.jpg"> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Cách gỡ bỏ phần mềm độc hại khỏi máy tính Windows</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="images/post3_img4.jpg"> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Loạt smartphone 4G LTE giá rẻ ở Việt Nam</a> </div>
              </div>
            </li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>
